<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GATE</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/ Content / bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/bootstrap.min.js")
</head>
<body style="font-size: medium; padding-bottom: 20px; color: white;" >
<div class="bgcolor">
    <nav class="navbar navbar-inverse navbar-toggleable-sm text-center" style="margin-bottom: 10px">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item nav-link">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="container">
            <ul class="navbar-nav">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <header class="img-fluid">
        <div class="container">
            <table>
                <tr>
                    <td>
                        <img id="logo" alt="GATE Logo" src="~/Content/img/logo.jpg"/>
                    </td>
                    <td style="padding: 50px 0 0 10px">
                        <p class="text-uppercase" style="font-size: large">Gifted and Talented Education</p>
                    </td>
                </tr>
            </table>
        </div>
    </header>
    <div class="container body-content">
        <div class="row">
            <div class="col">
                @RenderBody()
            </div>
            <div class="col-3 text-center" style="margin-top: 30px;">
                @Html.Partial("_MenuPartial")
            </div>
        </div>
    </div>
</div>
<footer class="navbar-inverse" style="margin-bottom: 0;">
    <div class="container">
        <p style="padding-top: 20px; padding-bottom: 20px">&copy; @DateTime.Now.Year - GATE</p>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>