@model IEnumerable<GATE.Models.CustomIdentityUser>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>Users Manager</h2>

<p>
    @Html.ActionLink("Create New", "UserType", null, new { @class = "text-white" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.UserTypeId}, new {@class = "text-warning"}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.UserTypeId, userTypes = item.UserType}, new {@class = "text-danger"})
            </td>
        </tr>
    }

</table>