@model IEnumerable<GATE.Models.CustomIdentityUser>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Users</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "text-danger"})
</p>
<table class="table">
    <tr>
        <th class="hidden-sm-down">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th class="hidden-sm-down">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th class="hidden-sm-down">
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th class="hidden-sm-down">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="hidden-sm-down">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th class="hidden-sm-down"></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.UserTypeId}, new {@class = "text-warning"}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.UserTypeId}, new {@class = "text-danger"})
            </td>
        </tr>
    }

</table>